
/*Global*/

body {
  font-family: "Arial", serif;
  line-height: 1.5;
  background: url(../images/Gastown.jpg) fixed 100%;
  background-size: cover; /*One pic cover the whole background*/
}

h1, h2, h3, h4 {
  font-family: "Arial", sans-serif;
  font-weight: 100;
}

section h1,
header h2 {
  text-transform: uppercase;
}

header h1 {
  font-family: "Arial";
  font-size: 50px;
  color:white;
}

header h2,section h1 {
  font-size: 22px;
  color:white;
}

/* Color is the same for every other section
https://www.w3schools.com/cssref/sel_nth-child.asp
https://developer.mozilla.org/en-US/docs/Web/CSS/:nth-child*/

section:nth-child(2n+1) {
  background: #fffefa8c;
  padding: 0%;
}

section:nth-child(2n+2) {
  color: #fff;
  background: rgba(22, 22, 22, 0.315);
  padding: 0%
} 

.content-wrap {
  display: flex;
  width: 1000px;
  margin: 0 auto;
  padding: 20px 0;
}


/* HEADER
----------*/
header {
  text-align: center;
  padding: 200px 50px;
}


/* ABOUT ME
----------------------*/
.profile-image {
  flex-basis: 0%;
  margin-right: 1%;
  padding: 4px;
}

/* EDUCATION
-------------*/
.education .content-wrap {
  flex-direction: column;
}

.education h1 {
  color: #111;
  font-size: 30px;
}

.education h2 {
  text-transform: uppercase;
}

.education h3 {
  line-height: 0em;
  color: #333333;
}

.education .item {
  flex-direction: column;
}


/* WORK EXPERIENCE & EDUCATION */
.item {
  display: flex;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 20px 0;
}


/* WORK EXPERIENCE
-------------------*/

.work-experience .content-wrap {
  flex-direction: column;
}

.work-experience .date {
  font-size: 15px;
}

.work-experience h1 {
  color:rgb(255, 255, 255);
  font-size: 30px;
}

section:nth-child(4) {
  background: rgba(12, 12, 12, 0.61);
} 

.work-experience h2 {
  font-size: 18px;
}

.work-experience h3 {
  font-size: 15px;
}

.work-experience h4 {
  line-height: 1.5;
  font-size: 15px;
}

.work-experience .details {
  /*Akigning the test for description and details https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
  flex: 0 0 20%;
}

.work-experience .description {
  font-size: 15px;
}

